/* CSS Document */
@charset "utf-8";
body{
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
	margin:0px;
	padding:0px;
	background-image: url(images/background.gif);
}
.banner{

	width: 100%;
	height: 300px;
	/*border: 1px solid #000000;*/
	background-image: url(images/cardmockup1.jpg);
}
.section{
	margin-top: 0;
	max-width: auto;
}
.main{
	width: 59%;
	/*height: 600px;*/
	/* border: 1px solid #000000;*/
	background-color: #fff;
	float: left;
	margin: 0px 30px 0px 30px;
}
.right{
	width: 18%;
	height: 872px;
	float: right;
	/* border: 1px solid #000000;*/
	background-color: #fff;
}
.right ul li {
	line-height: 30px;
	text-align: left;
	margin-top: 20px;
}
.left{
	width: 18%;
	height: 872px;
	float: left;
	background-color: #fff;
	
}
.namecard ul li {
	list-style-type: none;

}

.namecard{
}
.after{
	width: 500px;
	height: 250px;
	box-shadow: 2px 2px 1px 1px; 
	/*border: 1px dotted #000000;*/
	margin-left: 10px;
	background: rgba(217, 224, 31, 0.34);
	
}
.after img {
	margin: 10px;
	float: left;
}
.after h5{
	text-align: center;
	margin: 10px 10px 0 0;
	float: right;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}
.after h6 {
	float: right;
	font-size: 16px;
	margin: 10px 20px 0 0;
}
.after1{
	width: 500px;
	height: 250px;
	box-shadow: 2px 2px 1px 1px; 
	/*border: 1px dotted #000000;*/
	margin-left: 10px;
	background: #FDF8D8;
}

.after1 h5{
	text-align: center;
	margin: 30px 10px 0 0;
	float: right;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}
.after1 h6 {
	float: right;
	font-size: 16px;
	margin: 10px 20px 0 0;
}
.after2{
	width: 500px;
	height: 250px;
	box-shadow: 2px 2px 1px 1px; 
	/*border: 1px dotted #000000;*/
	margin-left: 10px;
	background: #FFC12D;
	color: #fff;
}

.after2 h5{
	text-align: center;
	margin: 30px 10px 0 0;
	float: right;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}
.after2 h6 {
	float: right;
	font-size: 16px;
	margin: 10px 20px 0 0;
}

.comment{
	width: 30%;
	height: 250px;
	border: 1px dotted #000000;
	float: right;
	margin-top: -250px;
	background-color: #e8e8e8;
}
.cm{
	margin: 10px;
}

.input[type="submit"]{
	width: 40%;
}

.like{
	margin: 10px;
}
.footer{
	width: 100%;
	height: 200px;
	background-color: #3B302A;
	color: #fff;
	float: left;
	line-height: 
}
.text{
	text-align: center;
}
.menu ul li{
display: inline-block;
margin:auto;
padding:5px 10px 0px 20px;
font-size:22px;
color:#000000;
font-weight:bold;
background-color: #e8e8e8;
position: relative;
}
.menu ul li a{
color:#000000
}
.menu ul li a:hover{
color:#999999;
background:#FF6699;
}

/*QR code*/
{
 render: 'canvas',

 minVersion: 1,
 maxVersion: 40,

 ecLevel: 'L',

 left: 0,
 top: 0,

 size: 200,

 fill: '#000',

 background: null,

 text: 'no text',

 radius: 0,

 quiet: 0,
 mode: 0,

 mSize: 0.1,
 mPosX: 0.5,
 mPosY: 0.5,

 label: 'no label',
 fontname: 'sans',
 fontcolor: '#000',

 image: null
}
$('#container').qrcode({
  "render": "div",
  "width": 100,
  "height": 100,
  "color": "#3a3",
  "text": "Welcome to Name Card"
});